<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>404 Page not found</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,700" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="css/error404.css" />
</head>
<body>
<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
            <h3>Acces denied!</h3>
        </div>
        <h2>Oops! You don't have permission to access this page</h2>
        <p>Sorry but to access this page, you have to be logged in or to have an access permission by site administrator.</p>
        <a href="{{ homepageLink }}">Back to homepage</a>
    </div>
</div>
</body>
</html>