<div>
    <h4>Article administration</h4>
    <hr>
    {{ warning | raw }}
    <h6>Articles to review </h6>
    <table class="table table-striped table-bordered table-hover table-responsive-md hide" id="inReviewTable" style="table-layout: fixed">
        <thead>
        <tr>
            <th scope="col" rowspan="2" colspan="1" class="align-middle">Title</th>
            <th scope="col" rowspan="2" colspan="1" class="align-middle">Author</th>
            <th scope="col" rowspan="2" colspan="1" class="align-middle">Date</th>
            <th scope="col" rowspan="1" colspan="6" class="align-middle">Review</th>
            <th scope="col" rowspan="2" colspan="1" class="align-middle">Review average</th>
            <th scope="col" rowspan="2" colspan="1" class="align-middle">Publish</th>
            <th scope="col" rowspan="2" colspan="1" class="align-middle">Delete</th>
        </tr>
        <tr class="complex-header">
            <th scope="col">Reviewer</th>
            <th scope="col">Result</th>
            <th scope="col">Expertise</th>
            <th scope="col">Language</th>
            <th scope="col">Originality</th>
            <th scope="col">Sum</th>
        </tr>
        </thead>
        {% for article in articlesInReview %}
            <tr>
                <td class="align-middle" rowspan="{{ article.numberOfReviews }}" colspan="1"><a href="{{ article.link }}">{{ article.title }}</a></td>
                <td class="align-middle" rowspan="{{ article.numberOfReviews }}" colspan="1">{{ article.author }}</td>
                <td class="align-middle" rowspan="{{ article.numberOfReviews }}" colspan="1">{{ article.date }}</td>
                <td class="align-middle" align="center" rowspan="1" colspan="6">
                    <form method="post" action="{{ article.actionLink }}">
                        <div>
                            <select class="my-form-control" name="username" style="width: 150px">
                                <option disabled selected value> select user </option>
                                {% for reviewer in reviewers %}
                                    <option>{{ reviewer }}</option>
                                {% endfor %}
                            </select>
                            <input type="hidden" name="articleID" value="{{ article.ID }}">
                            <button class="btn btn-primary" name="action" value="assign">Assign</button>
                        </div>
                    </form>
                </td>
                <td class="align-middle reviewAverage" rowspan="{{ article.numberOfReviews }}" colspan="1">{{ article.reviewAverage }}</td>
                <form method="post" action="{{ article.actionLink }}">
                    <input type="hidden" name="articleID" value="{{ article.ID }}">
                    <td class="align-middle" rowspan="{{ article.numberOfReviews }}" colspan="1">
                        <button name="action" value="publish" class="btn btn-primary" {{ article.publishDisabled }}>Publish</button>
                        <button style="margin-top: 5px" name="action" value="refuse" class="btn btn-secondary" {{ article.publishDisabled }}>Refuse</button>
                    </td>
                    <td class="align-middle" rowspan="{{ article.numberOfReviews }}" colspan="1">
                        <button name="action" value="delete" class="btn btn-danger">Delete</button>
                    </td>
                </form>
            </tr>
            {% for review in article.assignedReviews %}
                <tr>
                    <td colspan="6" rowspan="1">
                        <form method="post">
                            <span>Review is assigned to {{ review.username }}</span>
                            <input type="hidden" name="userID" value="{{ review.userID }}">
                            <input type="hidden" name="articleID" value="{{ article.ID }}">
                            <input type="hidden" name="action" value="unassign">
                            <input type="image" src="img/Delete_26px.png" name="submit" align="middle">
                        </form>
                    </td>
                </tr>
            {% endfor %}
            {% for review in article.reviews %}
                <tr>
                    <td class="align-middle" rowspan="1" colspan="1">{{ review.author }}</td>
                    <td class="align-middle" rowspan="1" colspan="1"><a href="{{ review.link }}">{{ review.result }}</a></td>
                    <td class="align-middle" rowspan="1" colspan="1">{{ review.expertise }}</td>
                    <td class="align-middle" rowspan="1" colspan="1">{{ review.language }}</td>
                    <td class="align-middle" rowspan="1" colspan="1">{{ review.originality }}</td>
                    <td class="align-middle" rowspan="1" colspan="1">{{ review.sum }}</td>
                </tr>
            {% endfor %}

        {% else %}
            <tr>
                <td colspan="12" class="align-middle" rowspan="1">There are no articles in review</td>
            </tr>
        {% endfor %}
    </table>




    <h6>Reviewed articles</h6>
    <table class="table table-striped table-bordered table-hover table-responsive-md hide" style="table-layout: fixed">
        <thead>
        <tr>
            <th scope="col" rowspan="2" colspan="1" class="align-middle">Title</th>
            <th scope="col" rowspan="2" colspan="1" class="align-middle">Author</th>
            <th scope="col" rowspan="2" colspan="1" class="align-middle">Date</th>
            <th scope="col" rowspan="1" colspan="6" class="align-middle">Review</th>
            <th scope="col" rowspan="2" colspan="1" class="align-middle">Review average</th>
            <th scope="col" rowspan="2" colspan="1" class="align-middle">Status</th>
            <th scope="col" rowspan="2" colspan="1" class="align-middle">Delete</th>
        </tr>
        <tr class="complex-header">
            <th scope="col">Reviewer</th>
            <th scope="col">Result</th>
            <th scope="col">Expertise</th>
            <th scope="col">Language</th>
            <th scope="col">Originality</th>
            <th scope="col">Sum</th>
        </tr>
        </thead>
        {% for article in publishedArticles %}
            <tr>
                <td class="align-middle" rowspan="{{ article.numberOfReviews }}" colspan="1"><a href="{{ article.link }}">{{ article.title }}</a></td>
                <td class="align-middle" rowspan="{{ article.numberOfReviews }}" colspan="1">{{ article.author }}</td>
                <td class="align-middle" rowspan="{{ article.numberOfReviews }}" colspan="1">{{ article.date }}</td>
                <td colspan="1" rowspan="1">{{ article.firstReview.author }}</td>
                <td colspan="1" rowspan="1"><a href="{{ article.firstReview.link }}">{{ article.firstReview.result }}</a></td>
                <td colspan="1" rowspan="1">{{ article.firstReview.expertise }}</td>
                <td colspan="1" rowspan="1">{{ article.firstReview.language }}</td>
                <td colspan="1" rowspan="1">{{ article.firstReview.originality }}</td>
                <td colspan="1" rowspan="1">{{ article.firstReview.sum }}</td>
                <td class="align-middle" rowspan="{{ article.numberOfReviews }}" colspan="1">{{ article.reviewAverage }}</td>
                <td class="align-middle" rowspan="{{ article.numberOfReviews }}" colspan="1">{{ article.status }}</td>
                <td class="align-middle" rowspan="{{ article.numberOfReviews }}" colspan="1">
                    <form method="post" action="{{ article.actionLink }}">
                        <input type="hidden" name="articleID" value="{{ article.ID }}">
                        <button name="action" value="delete" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
            {% for review in article.otherReviews %}
                <tr>
                    <td colspan="1" rowspan="1">{{ review.author }}</td>
                    <td colspan="1" rowspan="1"><a href="{{ review.link }}">{{ review.result }}</a></td>
                    <td colspan="1" rowspan="1">{{ review.expertise }}</td>
                    <td colspan="1" rowspan="1">{{ review.language }}</td>
                    <td colspan="1" rowspan="1">{{ review.originality }}
                    <td colspan="1" rowspan="1">{{ review.sum }}
                </tr>
            {% endfor %}
        {% endfor %}
    </table>
</div>