{% for article in articles %}
<div class="card">
    <div class="card-body">
        <div class="article-header">
            <img src="{{ article.userIconPath }}">
            <a href="{{ article.link }}"><h5 class="card-title">{{ article.title }}</h5></a>
            <small class="text-muted">{{ article.author }}, {{ article.date }}</small>
        </div>
        <p class="card-text">
            {{ article.description }}
        </p>
        <div>
            <small class="text-muted">Categories:</small>
            {% for category in article.categories %}
                    <a class="badge badge-secondary" href="{{ category.link }}">{{ category.name }}</a>
            {% endfor %}
        </div>
        <br>
        <a href="{{ article.link }}" class="btn btn-primary">Read more</a>
    </div>
</div>
{% endfor %}