<div id="article">
    <h4>{{ article.title }}</h4>
    <div id="article-categories">
        <small class="text-muted">Categories:</small>
        {% for category in article.categories %}
            <span class="badge badge-secondary">
                {{ category }}
            </span>
        {% endfor %}
    </div>
    <span id="article-author">
                <img src="{{ article.userIconPath }}">
                <b>{{ article.author }}</b>, {{ article.date }}
            </span>
    <div id="article-introduction">
        <hr>
        <p>
            {{ article.description }}
        </p>
        <hr>
    </div>
    <div><b>Download article:</b> <a href="uploads/{{ article.file }}" download><img src="img/PDF_52px.png" width="25px" height="25px"></a></div>
    <div id="article-text">
        {{ article.text | raw }}
    </div>
</div>

