<div>
    <h4>Create review</h4>
    <hr>
    {{ warning | raw }}
    <div>
        Article to review: <a href="{{ article.link }}">{{ article.title }}</a>
    </div>
    <div>
        Author: {{ article.author }}
    </div>
    <hr>
    <form method="post" name="reviewForm" onsubmit="return verifyNewReview()">
        <div class="form-group">
            <label for="expertise-form" class="form-text">Expertise:</label>
            <select id="expertise-form" class="form-control" name="expertise">
                <option disabled selected value> -- select an option -- </option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
        <div class="form-group">
            <label for="language-form" class="form-text">Language:</label>
            <select id="language-form" class="form-control" name="language">
                <option disabled selected value> -- select an option -- </option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
        <div class="form-group">
            <label for="originality-form" class="form-text">Originality:</label>
            <select id="originality-form" class="form-control" name="originality">
                <option disabled selected value> -- select an option -- </option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
        <div class="form-group">
            <label for="result-form" class="form-text">Result:</label>
            <select id="result-form" class="form-control" name="result">
                <option disabled selected value> -- select an option -- </option>
                <option value="1">Accept</option>
                <option value="0">Refuse</option>
            </select>
            <input type="hidden" name="articleID" value="{{ article.ID }}">
        </div>
        <div class="form-group">
            <label for="comment-form" class="form-text">Comment:</label>
            <textarea id="comment-form" class="form-control" rows="3" name="comment" placeholder="Enter your comment"></textarea>
        </div>
        <div class="form-group">
            <button class="form-control btn btn-primary" name="action" value="createReview">Save</button>
        </div>
    </form>
</div>