<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>404 Page not found</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,700" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="css/error404.css" />
</head>
<body>
<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
            <h1>4<span></span>4</h1>
        </div>
        <h2>Oops! Page Not Found</h2>
        <p>Sorry but the page you are looking for does not exist, have been removed, name changed or is temporarily unavailable</p>
        <a href="{{ homepageLink }}">Back to homepage</a>
    </div>
</div>
</body>
</html>