<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <BASE href="http://localhost/semestralka/">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="templates/template_css/articles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IT conference</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
</head>
<body>

<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
    <a href="{{ homeLink }}" class="navbar-brand">
        <img src="img/logo_small.png" width="50" height="50" alt="">
        <b>IT</b> Conference
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto">
            {% for navItem in navItems %}
                <li class="nav-item {{ navItem.active }}">
                    <a class="nav-link" href="{{ navItem.link }}">{{ navItem.name }}</a>
                </li>
            {% endfor %}
        </ul>
        <span class="navbar-text">
            <form method="post" action="{{ logoutLink }}">
                {{ loggedUser.name }}
                <img src="{{ loggedUser.iconPath }}">
                <button class="btn btn-primary button-bg-white" name="action" value="logout">Logout</button>
            </form>
        </span>
    </div>
</nav>

<div class="container" style="max-width: 1440px" id="content">
    <div class="col-sm-2"></div>
    <div class="col-sm-12 bg-light" id="article-box">
        {{ content | raw }}
    </div>
    <div class="col-sm-2"></div>

</div>

<script src="js/user_section_form_verify.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>