<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="templates/template_css/login.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login/Sign-up</title>
</head>
<body>
<br>
<div class="container">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <div class="jumbotron">
                <div class="container">
                    <div class="row">
                        <div class="nav nav-pills nav-fill col-sm-12" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link {% if signupActive is null %} active {% endif %}" id="nav-login-tab" data-toggle="tab" href="#nav-login" aria-controls="nav-login" aria-selected="true">Login</a>
                            <a class="nav-item nav-link {% if signupActive is not null %} active {% endif %}" id="nav-null-tab" data-toggle="tab" href="#nav-signup" role="tab" aria-controls="nav-signup" aria-selected="false">Sign-up</a>
                        </div>
                    </div>
                    <hr>
                    <div class="col-lg-12">
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade {% if signupActive is not null %} show active {% endif %}" id="nav-signup" role="tabpanel" aria-labelledby="nav-signup-tab">
                                {% if signupAlert is not null %}
                                <div class="alert alert-danger" role="alert">
                                    {{ signupAlert }}
                                </div>
                                {% endif %}
                                <form name="signupForm" id="signup-form" method="post" style="display: block" onsubmit="return checkSignupForm()">
                                    <div class="form-group">
                                        <label><span class="required-field">*</span>Username:</label>
                                        <input name="signupUsername" id="signup-username" type="text" class="form-control" placeholder="Enter username">
                                    </div>
                                    <div class="form-group">
                                        <label><span class="required-field">*</span>E-mail</label>
                                        <input name="signupEmail" id="signup-email" class="form-control" type="email" placeholder="Enter your e-mail address">
                                    </div>
                                    <div class="form-group">
                                        <label><span class="required-field">*</span>Password</label>
                                        <input name="signupPassword" id="signup-password" class="form-control" type="password" placeholder="Enter your password">
                                        <small class="form-text text-muted">Your password must have at least 5 character</small>
                                    </div>
                                    <div class="form-group">
                                        <label><span class="required-field">*</span>Re-enter password</label>
                                        <input class="form-control" name="signupRePassword" id="signup-repassword" type="password" placeholder="Re-enter you password">
                                    </div>
                                    <div class="form-group">
                                        <button name="action" value="signup" class="btn btn-block btn-outline-primary">Sign-up</button>
                                    </div>
                                </form>
                            </div>
                            <div class="tab-pane fade {% if signupActive is null %} show active {% endif %}" id="nav-login" role="tabpanel" aria-labelledby="nav-login-tab">
                                {% if signinAlert is not null %}
                                    <div class="alert alert-danger" role="alert">
                                        {{ signinAlert }}
                                    </div>
                                {% endif %}
                                {% if signupSuccessful is not null %}
                                    <div class="alert alert-success" role="alert">
                                        {{ signupSuccessful }}
                                    </div>
                                {% endif %}
                                <form name="loginForm" id="login-form" method="post" style="display: block" onsubmit="return checkLoginForm()">
                                    <div class="form-group">
                                        <label>Username:</label>
                                        <input name="loginUsername" id="login-username" class="form-control" type="text" placeholder="Enter your username">
                                    </div>
                                    <div class="form-group">
                                        <label>Password:</label>
                                        <input name="loginPassword" id="login-password" class="form-control" type="password" placeholder="Enter your password">
                                    </div>
                                    <div class="form-group">
                                        <button name="action" value="login" class="btn btn-block btn-outline-primary">Login</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="homepage-btn">
                <a class="btn btn-light btn-block" href="{{ homeLink }}">Back to homepage</a>
            </div>
        </div>
        <div class="col-sm-3"></div>
    </div>
</div>


<script src="js/loginFormVerification.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>