<div>
    <div id="articles-header">
        <h4>My articles</h4>
        <a class="btn btn-primary button-bg-white" href="{{ createArticleLink }}">Create new article</a>
    </div>
    <hr>
    <table class="table table-hover table-striped table-responsive-md">
        <thead>
        <tr>
            <th class="align-middle" scope="col" rowspan="2" >Title</th>
            <th class="align-middle" scope="col" rowspan="2">Date</th>
            <th class="align-middle" scope="col" rowspan="2">Status</th>
            <th class="align-middle" scope="col" rowspan="1" colspan="4">Rating</th>
        </tr>
        <tr>
            <th scope="col">Expertise</th>
            <th scope="col">Language</th>
            <th scope="col">Originality</th>
            <th scope="col">Result</th>
        </tr>
        </thead>
        {% for article in articles %}
            <tr>
                <td class="align-middle" rowspan="{{ article.numberOfReviews }}"><a href="{{ article.link }}">{{ article.title }}</a></td>
                <td class="align-middle" rowspan="{{ article.numberOfReviews }}">{{ article.date }}</td>
                <td class="align-middle" rowspan="{{ article.numberOfReviews }}">{{ article.status }}</td>
                {% for review in article.reviews %}
                    {% if loop.index != 1 %}
                        <tr>
                    {% endif %}
                    <td class="align-middle">{{ review.expertise }}</td>
                    <td class="align-middle">{{ review.language }}</td>
                    <td class="align-middle">{{ review.originality }}</td>
                    <td class="align-middle">{{ review.result }}</td>
                    </tr>
                {% else %}
                    <td colspan="3" class="align-middle">There is no review yet.</td>
                    <td colspan="1" class="align-middle"><a class="btn btn-primary" href="{{ article.updateLink }}">Update article</a></td>
                    </tr>
                {% endfor %}
        {% else %}
            <tr>
                <td colspan="8">You have no article.</td>
            </tr>
        {% endfor %}
    </table>
</div>