<div>
    <h4>Reviews</h4>
    <hr>
    <h6>To review</h6>
    <table class="table table-striped table-hover table-responsive-md">
        <thead>
        <tr>
            <th class="align-middle" scope="col" rowspan="1" colspan="1">Title</th>
            <th class="align-middle" scope="col" rowspan="1" colspan="1">Author</th>
            <th class="align-middle" scope="col" rowspan="1" colspan="1">Date</th>
            <th class="align-middle" scope="col" rowspan="1" colspan="1">Review</th>
        </tr>
        </thead>
        {% for review in toReview %}
            <tr>
                <td class="align-middle"><a href="{{ review.articleLink }}">{{ review.title }}</a></td>
                <td class="align-middle">{{ review.author }}</td>
                <td class="align-middle">{{ review.date }}</td>
                <td class="align-middle"><a class="btn btn-primary" href="{{ review.reviewLink }}">Review</a></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">There is nothing to review</td>
            </tr>
        {% endfor %}
    </table>

    <h6>Finished reviews</h6>
    <table class="table table-striped table-hover table-responsive-md">
        <thead>
        <tr>
            <th scope="col" rowspan="2" colspan="1" class="align-middle">Title</th>
            <th scope="col" rowspan="2" colspan="1" class="align-middle">Author</th>
            <th scope="col" rowspan="2" colspan="1" class="align-middle">Date</th>
            <th scope="col" rowspan="1" colspan="4" class="align-middle">Review</th>
            <th scope="col" rowspan="2" colspan="1" class="align-middle">View</th>
        </tr>
        <tr>
            <th scope="col">Expertise</th>
            <th scope="col">Language</th>
            <th scope="col">Originality</th>
            <th scope="col">Result</th>
        </tr>
        </thead>
        {% for review in finishedReviews %}
            <tr>
                <td><a href="{{ review.articleLink }}">{{ review.title }}</a></td>
                <td>{{ review.author }}</td>
                <td>{{ review.date }}</td>
                <td>{{ review.expertise }}</td>
                <td>{{ review.language }}</td>
                <td>{{ review.originality }}</td>
                <td>{{ review.result }}</td>
                <td><a class="btn btn-primary" href="{{ review.viewLink }}">View</a></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">You have not finished any review</td>
            </tr>
        {% endfor %}
    </table>
</div>