<h4><a href="{{ article.link }}">{{ article.title }}</a></h4>
<div id="article-categories">
    <small class="text-muted">Categories:</small>
    {% for category in article.categories %}
        <span class="badge badge-secondary">{{ category }}</span>
    {% endfor %}
</div>
<span class="author">
                <img src="{{ article.author.picture }}">
                <b>{{ article.author.name }}</b>, {{ article.date }}
        </span>
<hr>
<div>
    <small class="text-muted">Reviewed by:</small>
    <div class="author">
        <img src="{{ review.author.picture }}">
        <b>{{ review.author.name }}</b>, {{ review.date }}
    </div>
</div>
<table id="result-table" class="table table-bordered table-striped table-hover table-responsive-md">
    <thead>
    <tr>
        <th scope="col">Expertise</th>
        <th scope="col">Language</th>
        <th scope="col">Originality</th>
        <th scope="col">Result</th>
    </tr>
    </thead>
    <tr>
        <td>{{ review.expertise }}</td>
        <td>{{ review.language }}</td>
        <td>{{ review.originality }}</td>
        <td>{{ review.result }}</td>
    </tr>
</table>
<div>
    <h6>Comment:</h6>
    <p>
        {{ review.comment }}
    </p>
</div>