<div>
    <h4>Update article</h4>
    <hr>
    {% if success is not null %}
    <div class="alert alert-success" role="alert">
        Article was successfully updated. You will be redirected to articles overview.
        <script>$(document).ready(function () {
                window.setTimeout(function () {
                    location.href = "user/myArticles";
                }, 2000)
            });</script>
    </div>
    {% endif %}
    {% if failed is not null %}
        <div class="alert alert-danger" role="alert">
            Article was not updated. An error while uploading you file occurred. Please upload only PDF files.
        </div>
    {% endif %}
    <form name="articleForm" method="post" action="{{ updateArticleLink }}" onsubmit="return verifyUpdateArticle()" enctype="multipart/form-data">
        <div class="form-group">
            <label for="articleTitle">Title:</label>
            <input class="form-control" id="articleTitle" type="text" name="title" placeholder="Enter article title" value="{{ article.title }}">
        </div>
        <div class="form-group">
            <label for="articleCategory">Categories:</label>
            <select multiple class="form-control" id="articleCategory" name="categories[]">
                {% for category in categories %}
                    <option {{ category.selected }}>{{ category.name }}</option>
                {% endfor %}
            </select>
            <small class="form-text text-muted">Select multiple options while holding CTRL</small>
        </div>
        <div class="form-group">
            <label for="articleDescription">Article description:</label>
            <textarea id="articleDescription" class="form-control" rows="4" name="articleDescription" placeholder="Enter article description">{{ article.description | raw }}</textarea>
        </div>
        <div class="form-group">
            <label for="articleContent">Article text:</label>
            <textarea id="articleContent" class="form-control" rows="8" name="articleText" placeholder="Enter the text of your article">{{ article.content | raw}}</textarea>
        </div>
        <div class="form-group">
            <label for="pdf-file">Select PDF with the article content if you want to update it:</label>
            <input type="file" class="form-control-file" name="pdfFile" id="pdf-file">
        </div>
        <div class="form-group">
            <input type="hidden" name="articleID" value="{{ article.ID }}">
            <button class="form-control btn btn-primary" name="action" value="updateArticle">Submit</button>
        </div>
    </form>
</div>