<h4>Authors</h4>
<div class="card-columns">
{% for user in users %}
            <div class="card user-card bg-blue">
                <div class="card-body">
                    <div class="card-text">
                        <img src="{{ user.iconPath }}">
                        <h5>{{ user.name }}</h5>
                    </div>
                    <div class="user-card-end-float">
                        Number of articles: {{ user.numberOfArticles }}
                    </div>
                    <hr>
                    {% if user.categories|length > 0 %}
                    Categories:
                    <div>
                        {% for category in user.categories %}
                            <span class="badge badge-light">{{ category }}</span>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>
{% endfor %}
</div>
