<div>
    <h4>User administration</h4>
    <table class="table table-striped table-hover table-responsive-md">
        <thead>
        <tr>
            <th class="align-middle" scope="col" rowspan="2" colspan="1">Username</th>
            <th class="align-middle" scope="col" rowspan="2" colspan="1">E-mail</th>
            <th class="align-middle complex-header-top" scope="col" rowspan="1" colspan="3">User type</th>
            <th class="align-middle" scope="col" rowspan="2" colspan="1">Update</th>
        </tr>
        <tr class="complex-header">
            <th class="align-middle" scope="col" rowspan="1" colspan="1">Author</th>
            <th class="align-middle" scope="col" rowspan="1" colspan="1">Reviewer</th>
            <th class="align-middle" scope="col" rowspan="1" colspan="1">Admin</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <form method="post" action="{{ actionLink }}">
                <tr>
                    <td>{{ user.name }}</td>
                    <td>{{ user.email }}</td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" name="rights[]" value="author" type="checkbox" {{ user.author }}>
                            <label class="form-check-label">Author</label>
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" name="rights[]" value="reviewer" type="checkbox" {{ user.reviewer }}>
                            <label class="form-check-label">Reviewer</label>
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" name="rights[]" value="administrator" type="checkbox" {{ user.admin }}>
                            <label class="form-check-label">Admin</label>
                        </div>
                    </td>
                    <input type="hidden" name="userID" value="{{ user.ID }}">
                    <td><button class="btn btn-primary button-bg-white" name="action" value="updateUser">Update</button></td>
                </tr>
            </form>
        {% endfor %}
        </tbody>
    </table>
</div>