body {
    background: rgb(25,67,163);
    background: linear-gradient(180deg, rgba(25,67,163,1) 0%, rgba(0,212,255,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: 100% 100vh;
    -moz-background-size: 100% 100vh;
    -o-background-size: 100% 100vh;
    background-size: 100% 100vh;
    margin-bottom: 20px;
}

table {
    text-align: center;
}

img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin-right: 10px;
}

p {
    text-indent: 20px;
    text-align: justify;
}

#article-box {
    margin-top: 90px;
    padding: 20px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

#articles-header {
    display:flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

#articles-header h3 {
    float: left;
}

#articles-header a {
    position: relative;
}

.button-bg-white {
    -webkit-text-fill-color: white;
}

.my-form-control{
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

#article-categories {
    margin-bottom: 5px;
}

.author {
    margin-top: 5px;
}

#result-table {
    margin-top: 20px;
}
.hide td{
    overflow: auto;
}