body {
    background: rgb(25,67,163);
    background: linear-gradient(180deg, rgba(25,67,163,1) 0%, rgba(0,212,255,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: 100% 100vh;
    -moz-background-size: 100% 100vh;
    -o-background-size: 100% 100vh;
    background-size: 100% 100vh;
    margin-bottom: 20px;
}

p {
    text-indent: 20px;
    text-align: justify;
}

#article-box {
    margin-top: 90px;
    padding: 20px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.card {
    margin-bottom: 10px;
}

.article-header img {
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.article-header h5 {
    position: relative;
    top: 6px;
    left: 10px;
}

.article-header small {
    clear: left;
    display: block;
    margin-bottom: 10px;
}

.card a {
    margin-top: 10px;
}

#article {
    padding: 10px;
}

#article-categories {
    margin-bottom: 30px;
}

#article-author img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

#article-introduction {

    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 17px;
}

.user-card {
    color: white;
    padding: 10px;
    margin-bottom: 20px;
}

.user-card h5 {
    float: left;
    position: relative;
    top: 12px;
}

.user-card img {
    float: left;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-right: 10px;
}

.user-card hr{
    margin: 5px;
}

.user-card-end-float {
    clear: left;
    display: block;
    margin-bottom: 10px;
}

.bg-blue {
    background: linear-gradient(45deg,#4099ff,#73b4ff);
    -webkit-box-shadow: 17px 18px 23px -14px rgba(0,0,0,0.39);
    -moz-box-shadow: 17px 18px 23px -14px rgba(0,0,0,0.39);
    box-shadow: 17px 18px 23px -14px rgba(0,0,0,0.39);
}

.pagination {
    margin-top: 15px;
}

