body {
    background: rgb(25,67,163);
    background: linear-gradient(180deg, rgba(25,67,163,1) 0%, rgba(0,212,255,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: 100% 100vh;
    -moz-background-size: 100% 100vh;
    -o-background-size: 100% 100vh;
    background-size: 100% 100vh;
}

hr {
    margin-top: 15px;
    margin-bottom: 10px;
}

.homepage-btn {
    margin-bottom: 20px;
}

.jumbotron {
    padding-bottom: 20px;
}

.required-field {
    color: red;
}